header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  // max-width: 1290px;
  // margin: 0 auto;
}
header img {
  grid-area: 1 / 1 / 1 / 1;
  opacity: 0;
  transition: all 2s;
}
header .active {
  opacity: 1;
}
