div.logo {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text",
    "Times New Roman", serif;
  position: absolute;
  top: 40px;
  left: 80px;
  z-index: 900;
  @media (min-width: $bp-med) {
    top: 160px;
    left: 80px;
  }
}

.logo h1 {
  width: 40vw;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 14vw;
  font-weight: normal;
  line-height: 0.8;
  letter-spacing: 0;
  margin: 0;
  @media (min-width: $bp-med) {
    font-size: 11vw;
    letter-spacing: -4px;
    line-height: 0.8;
  }
}

.logo span.sub,
.logo span.sub-two {
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  display: inline-block;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 5vw;
  margin-left: 4vw;
  @media (min-width: $bp-med) {
    font-size: 3vw;
  }
}

.logo span.sub-two {
  display: block;
  font-size: 3vw;
  font-style: normal;
  @media (min-width: $bp-med) {
    font-size: 1.5vw;
  }
}
